@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #3b82f6;
  --color-accent: #f43f5e;
}

@layer base {
  body {
    @apply bg-zinc-950 text-white antialiased;
  }
}